{% extends "podomarket_base/base_with_navbar.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<div class="post-list">
  <div class="header">
    <h2>중고 상품</h2>
    <a class="link" href="{% url 'post-create' %}">
      <img class="pen-icon" src="{% static 'podomarket/icons/ic-pen.svg' %}" alt="pen icon">
      <span>글쓰기</span>
    </a>
  </div>

  {% include 'components/post_list.html' with posts=posts empty_message="아직 작성된 글이 없어요!" %}
    
  {% include 'components/pagination.html' with page_obj=page_obj %}
</div>
{% endblock content %}
